scratch/

htmlcov/
coverage.xml
.coverage*
**.h5ad
*test_output*

__pycache__/
testing.h5ad
.vscode/settings.json
data
.ipynb_checkpoints
build/
*.egg-info
*dist/
*cache*
.snakemake

.Rproj.user
Benchmarking_data_integration.Rproj
.DS_Store
.Rhistory

.idea/

*.Rproj
