numpy==1.18.1
pandas
seaborn
matplotlib
numba
scanpy>=1.5
anndata>=0.7.2
h5py<3
rpy2>=3
anndata2ri
scipy
scikit-learn
scikit-misc
loompy==3.0.6
louvain
umap-learn
pydot
python-igraph
llvmlite
memory_profiler
