numpy==1.18.1
pandas
seaborn
matplotlib
numba
scanpy
anndata
h5py<3
rpy2==3.1.0
anndata2ri==1.0.2
scipy
scikit-learn
scikit-misc
loompy==3.0.6
louvain
umap-learn
pydot
python-igraph
llvmlite
memory_profiler
