numpy
pandas
seaborn
matplotlib
numba<=0.46
scanpy==1.4.6
anndata==0.7.1
rpy2>=3
anndata2ri
scipy
scikit-learn
scikit-misc
keras==2.1
tensorflow==1.15
loompy==3.0.6
louvain==0.6.1
umap-learn==0.3.10
GraphViz
networkx>=2.3
pydot
python-igraph
llvmlite==0.30
memory_profiler

# integration tools
bbknn==1.3.9
scanorama @ git+https://github.com/danielStrobl/scanorama@patch-1#egg=scanorama
mnnpy==0.1.9.5
#scgen
#trvae==1.1.2
#trvaep==0.1.0
#desc==2.0.3

