name: Deployment

on:
    push:
        branches: [main]
        tags: [v*]

jobs:
    build:
        if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags') }}
        runs-on: ubuntu-latest

        steps:
        -   uses: actions/checkout@v2
            with:
                fetch-depth: 0

        -   name: Set up Python 3.11
            uses: actions/setup-python@v2
            with:
                python-version: '3.11'
        -   name: Install pip dependencies
            run: |
                python -m pip install --upgrade pip
                pip install build twine

        -   name: Build a binary wheel and a source tarball
            run: |
                python -m build --sdist --wheel --outdir dist/
                twine check dist/*

        -   name: Publish on PyPI
            uses: pypa/gh-action-pypi-publish@release/v1
            with:
                user: __token__
                password: ${{ secrets.PYPI_TOKEN }}
                skip_existing: true
                verbose: true
