name: Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -   name: Set up Python
            uses: actions/setup-python@v2
            with:
                python-version: 3.9

        -   uses: actions/cache@v2
            with:
                path: ~/.cache/pre-commit
                key: precommit-${{ env.pythonLocation }}-${{ hashFiles('**/.pre-commit-config.yaml') }}
        -   name: Install dependencies
            run: |
                python -m pip install --upgrade pre-commit

        -   name: Run pre-commit
            run: |
                pre-commit run --color=always --show-diff-on-failure --all-files

    test:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                python: [3.7, 3.9]
                os: [ubuntu-latest, macos-latest]
        steps:
        -   uses: actions/checkout@v2
        -   name: Set up Python ${{ matrix.python }}
            uses: actions/setup-python@v2
            with:
                python-version: ${{ matrix.python }}
        -   name: Set up R
            uses: r-lib/actions/setup-r@v2
            with:
                r-version: '4.2'

        -   name: Install build dependencies
            run: |
                python -m pip install --upgrade pip
                pip install build twine

        -   name: Build a binary wheel and a source tarball
            run: |
                python -m build --sdist --wheel --outdir dist/
                twine check dist/*

        -   name: Install package with test dependencies
            run: |
                pip install dist/*.whl
                pip install '.[test]'

        -   name: Test with pytest
            if: ${{ matrix.os != 'macos-latest'}}
            run: |
                python -m pytest --cov --cov-append \
                    --cov-report=term-missing \
                    --ignore=tests/integration/ \
                    --ignore=tests/metrics/rpy2 -vv

        -   name: Test R metrics
            if: ${{ matrix.os != 'macos-latest'}}
            run: |
                pip install '.[rpy2]'
                Rscript -e "install.packages('remotes')"
                Rscript -e "remotes::install_github('theislab/kBET')"
                python -m pytest --cov --cov-append --cov-report=term-missing -k rpy2 -vv

        -   name: Upload coverage
            if: ${{ matrix.os != 'macos-latest' }}
            env:
                CODECOV_NAME: ${{ matrix.os }}-${{ matrix.python }}
            run: |
                codecov --no-color --required --flags unittest

    integration:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                python: [3.7, 3.9]
                os: [ubuntu-latest]
        steps:
        -   uses: actions/checkout@v2
        -   name: Set up Python ${{ matrix.python }}
            uses: actions/setup-python@v2
            with:
                python-version: ${{ matrix.python }}

        -   name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                pip install '.[test,scanorama,scvi]'

        -   name: Test with pytest
            run: |
                python -m pytest --cov --cov-append --cov-report=term-missing -k integration -vv
        -   name: Upload coverage
            env:
                CODECOV_NAME: ${{ matrix.os }}-${{ matrix.python }}
            run: |
                codecov --no-color --required --flags unittest
